html{
    scroll-behavior: smooth;
}

body{
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
}

.recherche{
    margin-left: 360px;
    border-radius: 15px;
    background-color: whitesmoke;
    border: 50px;
    padding-left: 10px;
    width: 400px;
    height: 35px;
    text-align: center;
    background-image: url(./Images/loupe.png);
    background-repeat: no-repeat;
    background-position: 97%;
}

.Bande_noir{
    display: flex;  
    align-items: center;
    height: 60px;
    background-color:black;
    border-bottom: 5px solid #F0CD22;
}

.lien{
    color: white;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
}

.taille{
    font-size: 10px;
    margin-left: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header ul a:hover{
    border-bottom: 1px solid  #F0CD22;
    color: #F0CD22;
}

li:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}

.Bande_noir span{
    color:#F0CD22;
}

h1{
    color: white;
    font-size: 1.5em;
    margin-left: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 8px;
}

ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    margin-left: 80px;
    margin-top: 15px;
}

li{
    margin-left: 35px;
    font-size: 15px;
}

.titre{
    text-align: center;
    font-size: 1.5em;
    margin-top: 3%;
    color: #F0CD22;
}

.para{
    font-size: 1.4em;
    text-align: justify;
    width: 1350px;
    margin: auto;
    margin-top: 2%;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.footer{
    width: 100%;
    height: 72px;
    background-color: black;
    display: flex;
    padding-top: 0px;
    margin-top: 20px;
    position: relative;
    border-top: 5px solid #F0CD22;
    
}

.p5{
    color:white;
    margin-left: 450px;
    position: absolute; 
    font-size: 6px;
    margin-top: 58px;
}

.reseaux{
    margin-left: 620px;
    position: relative;
}

.what{
    margin-left: 205px;
    height: 40px;
    width: 35px;
    position: absolute;
    margin-top: 8px;
}

.insta{
    height: 40px;
    width: 40px;
    margin-left: 130px;
    position: absolute;
    margin-top: 8px;
    border-radius: 50%;
}

.FB{
    
    margin-right: 7px;
    height: 35px;
    width: 35px;
    position: absolute;
    margin-top: 8px;
}

.twi{
    height: 30px;
    width: 33px;
    margin-left: 70px;
    margin-top: 12px;
    position: absolute;
}

.footer .taille:hover{
    border-bottom: 1px solid  #F0CD22;
    color: #f0cd22;
}

.cgv{
    
    position: relative;
    margin-right: 200px;
    
}

.footer span{
    color:#f0cd22
}

.h1footer{
    position: absolute;
    color: white;
    top: 4px;
    left: 200px;
    font-size: 1.7em;
}

.h1footer span{
    color:#F0CD22;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.vinc{
    color: red;
}

.Liste a{
    font-family:Arial, Helvetica, sans-serif;
}